<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MabiPale2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MabiPale2.Properties.Settings>
            <setting name="X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterRecvEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterSendEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterRecv" serializeAs="String">
                <value>0FD13021
0F44BBA3
</value>
            </setting>
            <setting name="FilterSend" serializeAs="String">
                <value>0F213303
0FF23431
</value>
            </setting>
            <setting name="FilterExcludeModeActive" serializeAs="String">
                <value>True</value>
            </setting>
        </MabiPale2.Properties.Settings>
    </userSettings>
</configuration>