<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MabiPale2.Plugins.PacketInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MabiPale2.Plugins.PacketInfo.Properties.Settings>
            <setting name="X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>400</value>
            </setting>
        </MabiPale2.Plugins.PacketInfo.Properties.Settings>
    </userSettings>
</configuration>